################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Frameworks/TodoList.Application/bin/Release/net8.0
/src/Frameworks/TodoList.Application/obj
/src/Frameworks/TodoList.Domain/bin
/src/Frameworks/TodoList.Domain/obj
/src/Frameworks/TodoList.Infrastructure/bin
/src/Frameworks/TodoList.Infrastructure/obj
/src/Microservices/TodoList.WebApi/bin
/src/Microservices/TodoList.WebApi/obj
*.user
/src/Gateways/TodoList.Gateway.WebApi/bin/Release/net8.0
/src/Gateways/TodoList.Gateway.WebApi/obj
/src/Tests/Frameworks/TodoList.Application.Tests/bin/Release/net8.0
/src/Tests/Frameworks/TodoList.Application.Tests/obj
/src/Tests/Frameworks/TodoList.Infrastructure.Tests/bin/Release/net8.0
/src/Tests/Frameworks/TodoList.Infrastructure.Tests/obj
/src/Tests/Gateways/TodoList.Gateway.WebApi.Tests/bin/Release/net8.0
/src/Tests/Gateways/TodoList.Gateway.WebApi.Tests/obj
/src/Tests/Microservices/TodoList.WebApi/bin/Release/net8.0
/src/Tests/Microservices/TodoList.WebApi/obj
/src/Frameworks/TodoList.Application/bin/Debug/net8.0
/src/Gateways/TodoList.Gateway.WebApi/bin/Debug/net8.0
/src/Tests/Frameworks/TodoList.Application.Tests/bin/Debug/net8.0
/src/Tests/Frameworks/TodoList.Infrastructure.Tests/bin/Debug/net8.0
/src/Tests/Gateways/TodoList.Gateway.WebApi.Tests/bin/Debug/net8.0
/src/Tests/Microservices/TodoList.WebApi/bin/Debug/net8.0
